header.navbar {
    position: fixed !important;

    top: 10px;

    left: 50px !important;

    right: 30px;

    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end !important;

    padding: 0 20px;

    z-index: 9999;

    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 14px rgba(0,0,0,.05);
}

/* saat sidebar COLLAPSED */
.sidebar-collapsed header.navbar {
    margin-left: 50px !important;
}

header.navbar .d-none.d-lg-flex {
    align-items: center;
    gap: 10px;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: flex-end !important;
}

@media (max-width: 1200px) {
    header.navbar {
        margin-left: 60px !important;
        border-radius: 12px;
    }
}

@media (max-width: 576px) {
    .mobile-header {
        position: fixed;

        top: 0;
        left: 0;
        right: 0;

        height: 60px;

        background: #fff;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 12px;

        z-index: 9999;

        box-shadow: 0 2px 10px rgba(0,0,0,.08);
    }

    .mobile-left {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .mobile-right {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #mobileSidebarToggle {
        border: none;
        background: transparent;

        font-size: 24px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-logo {
        position: absolute;

        left: 30%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-collapse {
        width: 36px;
        height: 36px;

        display: block;

        object-fit: contain;
    }

    .mobile-role-switch select {
        min-width: 90px;
        font-size: 12px;
    }

    .sidebar-menu-wrapper.show-sidebar{
        left: 0;
    }

    /* OVERLAY */
    .sidebar-overlay{
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,.4);
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        z-index: 1040;
    }

    .sidebar-overlay.show{
        opacity: 1;
        visibility: visible;
    }

}