.app-sidebar .nav-item.active{
    width: 250px;
    background: #fff;
    height: 100vh;
    position: fixed;
    padding: 20px;
    border-right: 1px solid #e5e5e5;
}

.app-sidebar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-weight: bold;
}

.app-sidebar nav ul {
    list-style: none;
    padding: 0;
}

.app-sidebar nav ul li {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.app-sidebar nav ul li.active,
.app-sidebar nav ul li:hover {
    background: #f2f2f2;
}
